backend/.env
backend/scale_dev.db
backend/storage/uploads/*
backend/storage/thumbnails/*
!backend/storage/uploads/.gitkeep
!backend/storage/thumbnails/.gitkeep
frontend/node_modules
frontend/dist
__pycache__
*.pyc
